* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: pink;
}

.nav{
    list-style: none;
    margin-top:10px;
    padding-left: 0;
    align-items: center;
}

.nav li{
    display: inline;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
    margin: 5px;
}

.items{
    width: 25%;
    height: 100%;
    background-color: #f3ccf3;
    display: inline-block;
    padding: 0;
}

.item{
    height: 180px;
    margin: 1.5em;
    background-color: pink;
    border-radius: 10px;
    display: block;
}

.content{
    width: 75%;
    height: 90%;
    display: inline-block;
    background-color: rgb(191, 80, 99);
    position:absolute;
}
