:root {
    --primary-color: #003476;
    --secundary-color: #b4d2f7;
    --white: white;
    --header-size: 4rem;
    --font: 1.8rem;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

footer{
    font-size: var(--font);
    background: var(--primary-color);
    color:var(--secundary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--primary-color);
    color:var(--secundary-color);
    font-size: var(--font);
}

.nav{
    list-style: none;
    margin-top:10px;
    padding-left: 0;
    align-items: center;
}

.nav li{
    display: inline;
}

.nav a{
    text-decoration: none;
    margin: 5px;
    color:var(--secundary-color);
}

.row{
    display: flex;
    flex-direction: row;
    font-size: var(--font);
}

.items{
    display: flex;
    flex-direction: column;
    flex: 30%;
    background: var(--secundary-color);
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.item{
    width: 100%;
    height: 100px;
    display: flex; 
    align-items: center;  
    justify-content: center; 
    border-radius: 10px;
    margin:10px;
    color: var(--primary-color);
    background: var(--white);
}

.content{
    flex: 70%;
    padding: 20px;
    color: var(--primary-color);
}

.footer-social, .footer-info{
    margin: 10px;
}
