:root {
    --primary-color: #97BF3F;
    --secundary-color: #8C5CF2;
    --other-color:##30A8F2;
    --orange-color:#F26666;
    --yellow-color:#F2CD5E;
    --white: white;
    --header-size: 4rem;
    --font: 1.8rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    color:var(--white);
}
footer{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    align-items: center;
    height: 25px;
}
p, .description{
    font-size: 1.5rem;
}
.page-header{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
}
.logo{
    width: 100px;
    height: 40px;
}
.nav{
    list-style: none;
    padding-left: 0;
}
.nav li{
    display: inline;
}
.nav a{
    font-size: 1.5rem;
    text-decoration: none;
    margin: 10px;
    color:var(--white);
}
.content{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.items{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}
.item1, .item2, .item3{
    display: flex;
    width: 100%;
    min-width: 150px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item1 title-course{
    font-size: var(--header-size);
}
.item1{
    background-color: var(--secundary-color);
}
.item2{
    background-color: var(--orange-color);
}
.item3{
    background-color: var(--yellow-color);
}
.image{
    width: 400px;
    height: 200px;
}
.title-course{
    font-size: 2.5rem;
}

@media (min-width: 600px) {
    .item1{
        width: 50%;
    }    
    .item2{
        width: 50%;
    }  
    .item3{
        width: 100%;
    } 
    .page-header{
        flex-direction: row;
        justify-content: space-between;
    }  
}

@media (min-width: 800px) {
    .item1,.item2, .item3{
        width: 100%;
    } 
    .items{
        order:1;
    }   
    .content{
        order:2;    
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}